/*  your css code here. If applicable */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.container {
    display: flex;
}

.panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    transition: flex 0.7s ease-in-out;
}

.panel img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel.active {
    flex: 5;
}

.img-text {
/*     padding: 20px; */
    text-align: center;
}
